* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

body {
    background: radial-gradient(#271f03, #000000);
}


/* HEADER */
.rubrik {
    padding: 50px;
    display: flex;
    align-items: center;
    padding: 50px;
    overflow: hidden;
    position: relative;
    margin-top: -10px;

}

/* HEADER ANIMATION */
.rubrik:after {
    margin-top: 68px;
    content: '';
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: -1;
    animation: slide 10s infinite;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(236, 236, 236, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    overflow: hidden;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* SHINE-effekt */
.logga {
    transform: scale(130%);
    -webkit-mask-image: linear-gradient(45deg, #000 25%, rgba(0, 0, 0, .2) 50%, #000 75%);
    mask-image: linear-gradient(45deg, #000 25%, rgba(0, 0, 0, .2) 50%, #000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
}




.logga:hover {
    transition: mask-position 2s ease, -webkit-mask-position 2s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
}


/* SOCIALS */
.Social {
    margin-left: auto;
    justify-content: space-between;
    letter-spacing: 12px;
    margin-top: 20px;
}

.twitter,
.FB,
.IG {
    opacity: 0.7;
    transition: 1s;
    -webkit-mask-image: linear-gradient(45deg, #000 25%, rgba(0, 0, 0, .2) 50%, #000 75%);
    mask-image: linear-gradient(45deg, #000 25%, rgba(0, 0, 0, .2) 50%, #000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
}

.twitter:hover,
.FB:hover,
.IG:hover {
    opacity: 1;
    transform: scale(150%);
    transition: transform mask-position 2s ease, -webkit-mask-position 3s ease;
    -webkit-mask-position: 80%;
    mask-position: 80%;
}




/* BOX-CONTAINER */
.box-container {
    display: flex;
    margin-top: 20px;
}


/* LEFT-sidebar  */
.posts {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.post {
    display: flex;
    height: 300px;
    margin-bottom: 20px;
}

.post-border {
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 3s ease-in-out;
}

.post-border:hover {
    border: 1px solid #af8901;
    transition: 3s ease-in-out;
    /* margin: 50px; */
}



.post h3 {
    display: block;
    color: white;
    position: absolute;
    left: 50px;
    margin-top: 30px;
    opacity: 0;
    transition: 3s ease-in-out;
}

.image-post {
    align-self: flex-end;
    height: 100px;
    margin: 20px;
    opacity: 0.2;
    transition: 3s ease-in-out;
}

.post p {
    color: white;
    align-self: center;
    margin: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: 0;
    transition: 3s ease-in-out;
    align-self: flex-end;
}


.post:hover p {
    opacity: 1;
    transition: 2s ease-in-out;
    font-size: 16px;
}

.post:hover .image-post {
    opacity: 1;
    transition: 2s ease-in-out;
    height: 175px;
}

.post:hover h3 {
    opacity: 1;
    transition: 2s ease-in-out;
    transform: scale(120%);
}

/* RIGHT sidebar */
.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.old-post-container {
    /* margin: 60px; */
    border: 1px solid transparent;
    border-radius: 5px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 20px;
    transition: 3s ease-in-out;
}

.old-post-container:hover {
    border: 1px solid #af8901;
    transition: 2s ease-in-out;
    margin-left: 5px;
    overflow: hidden;

}

.old-post-container:hover .searchbar {
    width: 50%;
    transition: 2s ease-in-out;
    opacity: 1;
    height: 40px;

}


.old-post-container:hover h3 {
    opacity: 1;
    transition: 2s ease-in-out;
    transform: scale(120%);
}


.old-post-top {
    flex: 3;
}


.searchbar {
    border-radius: 7px;
    opacity: 0.2;
    transition: 3s ease-in-out;
    height: 30px;
    width: 20%;
    flex: 1;
    margin-bottom: 20px;
    border: none;

}

.old-post-bottom p {
    color: transparent;
    margin-bottom: 30px;
    transition: 3s ease-in-out;
}



.old-post-top h3 {
    color: white;
    opacity: 0.3;
    transition: 3s ease-in-out;
}

.old-post-container:hover p {
    color: white;
    opacity: 1;
    transition: 2s ease-in-out;
}




/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    padding: 50px;
    overflow: hidden;
    position: relative;
    height: 100px;
    margin-top: 10px;
    justify-content: center;
}

/* FOOTER-effect */
.footer:after {
    content: '';
    top: 0;
    transform: translateX(100%);
    width: 200%;
    height: 200px;
    position: absolute;
    z-index: 1;
    animation: slide 15s infinite;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(236, 236, 236, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    overflow: hidden;
}

@keyframes slide {
    0% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(300%);
    }
}



.footer a {
    color: transparent;
    transition: 3s ease-in-out;
    margin-left: 20px;
}

.footer i {
    color: gray;
    transition: 3s ease-in-out;
}

.footer:hover a,
.footer:hover i  {
    color: white;
    transition: 2s ease-in-out;
}





/* INLÄGG */

.wrap {
    display: flex;
}

.box-container-post {
    flex: 3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

h3 {
    text-align: center;
}

.post-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    height: auto;
}

.top-pic {
    margin-right: 20px;
    margin-top: 20px;
    flex: 1;
    height: 300px;
}

.top {
    flex: 5;
    margin-right: 50px;
    margin-left: 50px;
    width: 65%;
    font-size: large;
}

.middle {
    margin: 10px;
    margin-bottom: 30px;
    font-size: large;
}

.bottom {
    margin: 10px;
    flex: 1.5;
    width: 60%;
    font-size: large;
}

.bottom-pic {
    flex: 0.5;
    height: 200px;
    max-width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}




/* RESPONSIVE DESIGN */

/* TABLET */
@media screen and (min-width: 500px) and (max-width:800px) {
    .box-container {
        flex-direction: column;
    }

    .post:hover .image-post {
        height: 125px;
    }

    .post {
        height: 250px;
        margin: 10px;
        ;
    }

    .post p {
        -webkit-line-clamp: 6;
        align-self: flex-end;
    }

    .post h3 {
        left: 50px;
        margin-top: 30px;
    }

    .Social {
        width: 150px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .old-post-container {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .old-post-container:hover {
        margin-top: 10px;
        margin-left: 0px;
    }
}

/* MOBILVERSION */
@media screen and (max-width: 500px) {
    .box-container {
        flex-direction: column;
    }

    .rubrik {
        flex-direction: column;
        align-content: center;
    }

    .post:hover .image-post {
        height: 100px;
    }

    .post {
        height: 175px;
        margin: 5px;
    }

    .post p {
        -webkit-line-clamp: 5;
        align-self: flex-end;
    }

    .post:hover p {
        -webkit-line-clamp: 5;
        align-self: flex-end;
    }

    .post h3 {
        left: 40px;
        margin-top: 20px;
    }

    .post:hover h3 {
        transform: none;
    }

    .Social {
        margin-top: 30px;
        margin-right: auto;
    }

    .rubrik:after {
        height: 80px;
    }

    .old-post-container {
        width: 100%;
        margin: 0px;
    }

    .old-post-container:hover {
        margin: 0px;
    }

    .old-post-top:hover h3 {
        transform: none;
    }

    .searchbar {
        width: 80%;
        height: 40px;
    }

    .old-post-container:hover .searchbar {
        width: 80%;
    }
}